/*MAIN SCREEN*/
.wrapper__main-screen {
  background: url("../img/mainScreen/bg.png") no-repeat center center;
  background-size: cover;
  /*MAIN MENU MOBILE*/
  /*image lines*/
  /*CUSTOM BTN*/
  /*IMAGE MOUSE*/ }
  .wrapper__main-screen nav {
    padding-top: 10px;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0; }
    .wrapper__main-screen nav .container-fluid {
      padding-left: 0;
      padding-right: 0; }
    .wrapper__main-screen nav .collapse.navbar-collapse {
      padding-left: 0;
      padding-right: 0; }
    .wrapper__main-screen nav li > a:hover,
    .wrapper__main-screen nav li > a:focus {
      background-color: transparent; }
    .wrapper__main-screen nav ul.nav.navbar-nav > li > a {
      padding-bottom: 0;
      margin-right: 1em;
      padding-left: 0;
      padding-right: 0; }
    .wrapper__main-screen nav ul.nav.navbar-nav > li:last-child > a {
      margin-right: 0; }
  .wrapper__main-screen .wrapper__nav_float {
    float: right; }
  .wrapper__main-screen .active-link {
    border-bottom: 3px solid;
    color: #fc635e; }
  .wrapper__main-screen .icon-bar {
    background-color: white; }
  .wrapper__main-screen .wrapper__main-screen_logo {
    max-height: 68px;
    max-width: 139px;
    padding-left: 0;
    padding-right: 0; }
  .wrapper__main-screen .wrapper__img-lines {
    padding-top: 240px; }
  .wrapper__main-screen .wrapper__lines_text {
    font-size: 51px;
    font-weight: 700;
    line-height: 44px;
    color: #FFFFFF; }
  .wrapper__main-screen .wrapper__img-lines > p:first-child,
  .wrapper__main-screen .wrapper__img-lines > p:last-child {
    position: relative;
    top: -10px; }
  .wrapper__main-screen .wrapper__note-to-lines {
    font-size: 24.01px;
    font-weight: 300;
    line-height: 26px;
    color: #FFFFFF; }
  .wrapper__main-screen .wrapper__main-screen_btn {
    border-radius: 7px;
    border: 2px solid;
    background-color: transparent;
    width: 201px;
    height: 52px;
    margin-top: 2em; }
  .wrapper__main-screen .wrapper__main-screen_btn > span {
    font-size: 24.01px;
    font-weight: 300;
    line-height: 26px;
    color: #fc635e; }
  .wrapper__main-screen button.wrapper__btn-and-mouse {
    margin-left: 103px; }
  .wrapper__main-screen .wrapper__main-screen_mouse {
    padding-right: 0;
    margin-top: 2.7em;
    max-height: 800px;
    width: 100px; }
  .wrapper__main-screen .wrapper__btn-and-mouse {
    vertical-align: top; }

/***************************WHAT CAN YOU RECEIVE*****************************************/
.wrapper__canReceive {
  padding-left: 0;
  padding-right: 0; }
  .wrapper__canReceive header .wrapper__header_border-bottom {
    font-size: 28.01px;
    font-weight: 500;
    line-height: 40px;
    color: #868686; }
  .wrapper__canReceive header .wrapper__text_pre-line {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    color: #adadad; }
  .wrapper__canReceive .wrapper__you-receive_flex-item_header {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #868686; }
  .wrapper__canReceive .wrapper__you-receive_flex-item_describe {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    color: #adadad; }
  .wrapper__canReceive .wrapper__you-receive_flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center; }
  .wrapper__canReceive .wrapper__you-receive_flex-item {
    width: 200px; }

/***************************EXPAND******************************************************/
.wrapper__expand {
  background: url("../img/expand/bg.png") no-repeat center center;
  background-size: cover; }
  .wrapper__expand main {
    padding-left: 0;
    padding-right: 0; }
  .wrapper__expand .wrapper__border-expand {
    border: 8px solid rgba(128, 128, 128, 0.1);
    padding-top: 150px;
    padding-bottom: 110px; }
    .wrapper__expand .wrapper__border-expand p {
      font-size: 50.86px;
      font-weight: 700;
      line-height: 60px;
      color: #FFFFFF; }
    .wrapper__expand .wrapper__border-expand button {
      border-radius: 7px;
      border: 3px solid;
      width: 199px !important;
      height: 50px !important;
      background-color: transparent;
      margin-top: 3em; }
      .wrapper__expand .wrapper__border-expand button > span {
        font-size: 23.94px;
        font-weight: 300;
        line-height: 26px;
        color: #fc635e; }

/*******************************************OUR PROCESS*******************************************************/
.wrapper__our-process {
  padding-left: 0;
  padding-right: 0;
  /*STEP 1*/
  /*STEP 2*/
  /*BOTTOM IMAGE*/
  /*STEP 3*/
  /*STEP 4*/
  /*COMMON*/
  /*STEPS*/
  /*IMGS*/ }
  .wrapper__our-process .wrapper__our-process_lamp {
    position: absolute;
    left: 65px;
    top: 96px;
    background: url("../img/ourProcess/lg/lamp.png"); }
  .wrapper__our-process .wrapper__our-process_tv {
    position: absolute;
    top: 150px;
    left: 333px;
    background: url("../img/ourProcess/lg/tv.png"); }
  .wrapper__our-process .wrapper__our-process_bottom-img {
    position: absolute;
    left: 124px;
    top: 237px;
    background: url("../img/ourProcess/lg/img.png");
    width: 416px;
    height: 314px; }
  .wrapper__our-process .wrapper__our-process_head {
    position: absolute;
    top: 0;
    left: 421px;
    background: url("../img/ourProcess/lg/head.png"); }
  .wrapper__our-process .wrapper__our-process_finger {
    position: absolute;
    left: 590px;
    top: 70px;
    background: url("../img/ourProcess/lg/finger.png"); }
  .wrapper__our-process header {
    margin-bottom: 5em; }
    .wrapper__our-process header .wrapper__header_border-bottom {
      font-size: 28.03px;
      font-weight: 500;
      line-height: 26px;
      color: #868686; }
    .wrapper__our-process header .wrapper__text_pre-line {
      font-size: 20px;
      font-weight: 300;
      line-height: 26px;
      color: #adadad; }
  .wrapper__our-process main {
    height: 560px;
    overflow-x: auto;
    width: 880px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    left: 0; }
    .wrapper__our-process main > div {
      padding: 0 0 0 0 !important; }
      .wrapper__our-process main > div > section.wrapper__inner-text > h2 {
        padding: 0 0 0 0 !important;
        font-size: 24.01px;
        font-weight: 500;
        line-height: 26px;
        color: #868686; }
      .wrapper__our-process main > div > section.wrapper__inner-text > p {
        font-size: 15.02px;
        font-weight: 300;
        line-height: 17px;
        color: #9f9f9f; }
  .wrapper__our-process .wrapper__inner-text {
    position: absolute;
    top: 30px;
    left: 40px;
    max-width: 70%;
    max-height: 60%;
    overflow-y: auto; }
  .wrapper__our-process .wrapper__inner-text > p {
    padding-top: 3px; }
  .wrapper__our-process .wrapper__our-process_img-resizer {
    width: 193px;
    height: 201px; }
  .wrapper__our-process .wrapper__our-process_img-resizer-lg {
    width: 279px;
    height: 316px; }

/**************************************WHAT DO WE DO***********************************************************/
.wrapper__we-do {
  /*LANDING PAGES*/
  /*ADVERTISING*/
  /*COMMON*/ }
  .wrapper__we-do .wrapper__we-do_main-padding_header {
    padding-top: 5em; }
  .wrapper__we-do header {
    font-size: 28.03px;
    font-weight: 500;
    line-height: 26px;
    color: #868686; }
  .wrapper__we-do .wrapper__we-do_description_rect {
    display: inline; }
  .wrapper__we-do .wrapper__we-do_main {
    padding-top: 140px !important; }
  .wrapper__we-do .wrapper__we-do_img-margin {
    margin-bottom: 5em; }
  .wrapper__we-do .wrapper__we-do_description {
    padding-top: 4em; }
    .wrapper__we-do .wrapper__we-do_description h2 {
      display: inline-block;
      vertical-align: middle;
      font-size: 28.01px;
      font-weight: 500;
      line-height: 26px;
      color: #868686; }
    .wrapper__we-do .wrapper__we-do_description p {
      padding-top: 1em;
      font-size: 15.01px;
      font-weight: 300;
      line-height: 24px;
      color: #9e9999; }
    .wrapper__we-do .wrapper__we-do_description button {
      border-radius: 7px;
      width: 167px !important;
      height: 44px !important;
      background-color: #fc635e;
      border: none; }
      .wrapper__we-do .wrapper__we-do_description button span {
        font-size: 20.01px;
        font-weight: 300;
        line-height: 26px;
        color: #f2f2f2; }

/**************************************PORTFOLIO***************************************************************/
.wrapper__portfolio header {
  font-size: 27.94px;
  font-weight: 500;
  line-height: 26px;
  color: #868686; }
.wrapper__portfolio main {
  /*MENU*/
  /*BUTTON "I WANT LANDING PAGE"*/
  /*IMGS*/ }
  .wrapper__portfolio main nav {
    overflow-x: auto;
    margin-bottom: 3em; }
    .wrapper__portfolio main nav ul {
      width: 100%;
      display: table;
      position: relative;
      border-top: 1px solid #adadad;
      border-bottom: 1px solid #adadad;
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      padding-left: 0;
      padding-right: 0; }
      .wrapper__portfolio main nav ul li {
        display: table-cell;
        vertical-align: middle;
        min-width: 100px;
        width: 178px; }
      .wrapper__portfolio main nav ul li:nth-child(odd) {
        font-size: 20.01px;
        font-weight: 300;
        line-height: 26px;
        color: #fc635e; }
      .wrapper__portfolio main nav ul li:nth-child(even) {
        font-size: 20.01px;
        font-weight: 300;
        line-height: 26px;
        color: #606060; }
  .wrapper__portfolio main button {
    border-radius: 8px;
    background-color: #fc635e;
    width: 192px !important;
    height: 51px !important;
    position: relative;
    top: 2em;
    left: 50%;
    transform: translate(-50%);
    border: none; }
    .wrapper__portfolio main button span {
      font-size: 20.01px;
      font-weight: 300;
      line-height: 26px;
      color: #ffffff; }
  .wrapper__portfolio main figure img:nth-child(even) {
    padding: 0 0 0 0 !important; }
  .wrapper__portfolio main figure img {
    height: 198px; }
  .wrapper__portfolio main figure img:nth-child(odd) {
    padding: 0 7px 0 0; }
  .wrapper__portfolio main figure img:nth-child(2) {
    margin-bottom: 7px; }

/**************************************OUR TEAM****************************************************************/
.wrapper__our-team {
  /*ELEMENTS ALIGNMENTS JUSTIFY*/ }
  .wrapper__our-team header {
    font-size: 27.95px;
    font-weight: 500;
    line-height: 26px;
    color: #565656; }
  .wrapper__our-team .wrapper__you-receive_flex-container {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center; }
  .wrapper__our-team .wrapper__our-team_flex-item {
    width: 230px; }
    .wrapper__our-team .wrapper__our-team_flex-item section > p:first-child {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 28.01px;
      font-weight: 500;
      line-height: 26px;
      color: #565656; }
    .wrapper__our-team .wrapper__our-team_flex-item section > p:last-child {
      font-size: 20.01px;
      font-weight: 300;
      line-height: 34px;
      color: #565656; }

/**************************************TESTIMONIALS************************************************************/
.wrapper__testimonials main .wrapper__testimonials_description_height {
  height: 200px; }
.wrapper__testimonials main .wrapper__testimonials_description_font {
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  color: #767676; }
.wrapper__testimonials main .wrapper__testimonials_description {
  position: absolute;
  top: 80%; }
.wrapper__testimonials main .wrapper__testimonial_avatar {
  margin: 5em 0; }
.wrapper__testimonials main .wrapper__testimonials_pagination img:last-child {
  margin-left: 2em; }
.wrapper__testimonials main .wrapper__testimonial_name {
  font-size: 28.01px;
  font-weight: 500;
  line-height: 41px;
  color: #818181; }
.wrapper__testimonials main .wrapper__testimonial_position {
  font-size: 20px;
  font-weight: 300;
  line-height: 41px;
  color: #818181; }
.wrapper__testimonials main .wrapper__img_transform {
  position: absolute;
  transform: translate(-48%, -50%);
  left: 50%; }

/****************************************MAP*******************************************************************/
.wrapper__map {
  background: url("../img/map/map.png") no-repeat center center;
  background-size: cover;
  height: 400px; }
  .wrapper__map .wrapper__map_inner-img {
    background: url("../img/map/daisy.png") no-repeat center center;
    width: 209px !important;
    height: 242px !important; }
  .wrapper__map .wrapper__img_transform {
    position: absolute;
    transform: translate(-48%, -50%);
    left: 50%; }
  .wrapper__map .wrapper__map_inner-text {
    top: 20% !important;
    right: initial !important;
    bottom: initial !important;
    left: 15% !important;
    width: 70% !important;
    height: 60% !important;
    overflow: auto; }

/***************************************FOOTER****************************************************************/
.wrapper__footer {
  background: url("../img/footer/bg.png") no-repeat center center;
  background-size: cover;
  height: 260px; }
  .wrapper__footer img {
    position: absolute;
    top: 50% !important;
    right: initial !important;
    bottom: initial !important;
    left: 45% !important; }

/**************************************COMMON STYLES***********************************************************/
.wrapper__header_border-bottom {
  border-bottom: 1px solid grey;
  display: inline;
  padding-bottom: 4px; }

/*TEXT*/
.wrapper__text-red {
  color: #fc635e; }

.wrapper__text_pre-line {
  white-space: pre-line; }

/*HEADER*/
.wrapper__header-with-description {
  line-height: 30px; }

/*SLIDER*/
.wrapper__div_position {
  position: relative; }

.wrapper__slider__position {
  position: absolute;
  top: initial !important;
  right: 0 !important;
  bottom: 20px !important;
  left: 50% !important;
  padding-bottom: 5px; }

/*WRAPPER*/
.wrapper__div_padding {
  padding-top: 40px;
  padding-bottom: 5em; }

/*PADDING, MARGIN*/
.wrapper__element_margin-zero, .wrapper__main-screen nav .container-fluid .navbar-header, .wrapper__expand .wrapper__border-expand p, .wrapper__our-process main > div > section.wrapper__inner-text, .wrapper__our-process main > div > section.wrapper__inner-text > p, .wrapper__we-do .wrapper__we-do_description h2, .wrapper__portfolio main nav ul {
  margin: 0 0 0 0 !important; }

.wrapper__main_padding {
  margin-top: 3em !important;
  margin-bottom: 3em !important; }

/*BACKGROUND*/
.wrapper__article_bg-grey {
  background: url("../img/whatDoWeDo/bg.png") no-repeat center center;
  background-size: cover; }

/*DISPLAY*/
.wrapper__elem_inline-block {
  display: inline-block; }

/*SLIDER*/
img.wrapper__slider__position {
  cursor: pointer; }

/*# sourceMappingURL=wrapper.css.map */
